<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/create_quiz.css' />
    <title>Create</title>
</head>

<body>
    <div class="card text-center create-body">
        <div class="card-header">
            Question Box
        </div>
        <div class="card-body">
            <form action="/create_quiz" method="post" id="ultimate-form">
                <div class="qns">
                    <div class="form-group">
                        <div class="col-auto">
                            <input type="text" name="quizName" class="form-control mb-1 input-obj" id="quizName"
                                placeholder="a name to display your quiz" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-auto">
                            <input type="text" name="qn" class="form-control mb-1 input-obj" id="qn"
                                placeholder="question" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-auto">
                            <input type="text" name="a1" class="form-control mb-1 input-obj" id="a1"
                                placeholder="option 1" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-auto">
                            <input type="text" name="a2" class="form-control mb-1 input-obj" id="a2"
                                placeholder="option 2" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-auto">
                            <input type="text" name="a3" class="form-control mb-1 input-obj" id="a3"
                                placeholder="option 3" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-auto">
                            <input type="text" name="a4" class="form-control mb-1 input-obj" id="a4"
                                placeholder="option 4" required>
                        </div>
                    </div>
                    <select class="custom-select custom-select-sm" name="corr">
                        <option value="a1">Option 1</option>
                        <option value="a2">Option 2</option>
                        <option value="a3">Option 3</option>
                        <option value="a4">Option 4</option>
                    </select>

                </div>
                <div class="submit">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>

    <button type="button" id="panel" class="btn btn-primary">new panel</button>
    <!-- TODO changing value of name and id -->

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/javascripts/create_quiz.js"></script>

</html>