<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/create_quiz.css' />
    <title>Create</title>
</head>

<body style="background-color: darkgoldenrod;">
    <div class="container">
        <form action="/create_quiz" method="post" id="ultimate-form">
            <div class="qns">
                <label for="quizName">provide your quiz a name to display</label>
                <input type="text" name="quizName" required>
                <label for="qn">Question</label>
                <input type="text" name="qn" required>
                <label for="a1">Option 1</label>
                <input type="text" name="a1" required>
                <label for="a2">Option 2</label>
                <input type="text" name="a2" required>
                <label for="a3">Option 3</label>
                <input type="text" name="a3" required>
                <label for="a4">Option 4</label>
                <input type="text" name="a4" required>
                <label for="corr">select the correct option</label>
                <select name="corr">
                    <option value="a1">Option 1</option>
                    <option value="a2">Option 2</option>
                    <option value="a3">Option 3</option>
                    <option value="a4">Option 4</option>
                </select><br><br>
            </div>
            <div class="submit">
                <input type="submit" value="Submit">
            </div>
        </form>
        <div>
            <Button id="new-quiz-panel">New Panel</Button>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/javascripts/create_quiz.js"></script>

</html>