<!DOCTYPE html>
<html>

<head>
    <title>
        <%= "Register" %>
    </title>
    <link rel='stylesheet' href='/stylesheets/indexStyle.css' />
</head>

<body>
    <h1>Register</h1>
    <form action="/register" method="post">
        <br><br>
        <label for="username">Enter a Username</label><br>
        <input type="text" name="username" required>
        <br><br>
        <label for="email">Enter a Valid Email</label><br>
        <input type="email" name="email" required>
        <br><br>
        <label for="paswd">Create a Strong Password</label><br>
        <input type="password" name="paswd" required>
        <br><br>
        <input type="submit" value="Create">
    </form>
    <br>
    <a href="/login">Login</a>
    <br><br>
    <p>
        <%=flash%>
    </p>
</body>

</html>