<!DOCTYPE html>
<html>

<head>
    <title>
        Your Quiz
    </title>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0" />
    <link rel='stylesheet' href='/stylesheets/quiz_container.css' />
</head>

<body style="background-color: darkslategray;">
    <div class="container">
        <h2>Your Quiz</h2>
        <br><br>
        <div class="quiz-container">
            <% accounts.forEach((el)=>{ %>
                <div onclick="location.href=`/quiz/<%=id%>/<%=el.fetchingId%>`" class="quiz-objects">
                    <p class="quiz-name">
                        <%=el.quizName%>
                    </p>
                </div>
                <% }) %>
        </div>

        <a href="/"><button>Back</button></a>

    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/javascripts/quiz_container.js"></script>