body{
    background-image: linear-gradient(to right, rgb(57, 124, 141),rgb(109, 1, 136)) ;
    padding: 2%;
    display:grid;
    place-content: center;
    margin-top: 50px;
}


@media screen and (min-width: 980px) /* Desktop */ {
    .create-body{
        width: 600px;
    }
    
  }

  @media screen  and (max-width: 979px) /* Tablet */ {
    .create-body{
        width: 600px;
    }
  }
   
  @media screen and (max-width: 500px) /* Mobile */ {
    .create-body{
        width: auto;
    }
  }


.qns{
    margin-inline: 2em;
}

.submit{
    position:fixed;
    bottom: 20px;
}

