body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to right, rgb(57, 124, 141),rgb(109, 1, 136)) ;
}

.index-body {
    padding: 20px;
}

.index-header{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
}

.app-logo{
    color: azure;
    font-size:xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.split-line{
    background-color: black;
    margin:0 auto;
    height: 3px;
    width: 70%;
}

.middle-div{
    background-color: rgb(0, 0, 0,0.2);
    background-image: url("/images/img.jpg");
    text-align: center;
    height: auto;
    min-height: 200px;
    border-radius: 10px;
    overflow:auto;
}

.loading-wheel{
    margin-top: 50%;
    margin-left: 45%;
}

h2{
    color: white;
    font-size: 4em;
    font-weight: bold;
    font-variant: small-caps;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.username{
    color: white;
    font-size: xx-large;
    font-weight: bold;
}