body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to right, rgb(50, 49, 117),rgb(255, 3, 171),rgb(99, 7, 122)) ;
}

.index-body {
    padding: 20px;
}

.index-header{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
}

.app-logo{
    color: azure;
    font-size:xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.split-line{
    background-color: black;
    margin:0 auto;
    height: 2px;
    width: 70%;
}

.middle-div{
    background-color: rgb(0, 0, 0,0.2);
    text-align: center;
    border-radius: 10px;
}

h2{
    color: rgb(157, 79, 230);
    font-size: 4em;
    font-weight: bold;
    font-variant: small-caps;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.username{
    color: rgb(157, 79, 230);
    font-size: xx-large;
    font-weight: bold;
    
}