.quiz-container{
    height: auto;
    overflow: auto;
    overflow: hidden;
  }
.quiz-objects {
    margin: 2em;
    cursor: pointer;
    float: left;
    white-space: normal;
  }

.quiz-name{
    margin-top: 6.2em;
    text-align: center;
  }